<div class="d-flex flex-column h-100 w-100">
  <app-header></app-header>
  
  <div [@fadeInAnimation]="getAnimationData()" class="bg-dark d-flex flex-column flex-grow-1 align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </div>

  <!-- <footer  class="container mt-5" style="color:#198754 ; bottom: 0;">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer> -->
</div>