<div  style="color: white;" data-bs-scroll="false" keyboard="true" tabindex="-1" aria-labelledby="offCanvas" class="bg-dark offcanvas offcanvas-start" id="offCanvasBdS">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offCanvasBdS">
            <strong> Find papers by filtering</strong>
        </h5>
        <button class="btn-close bg-light  text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-check">
            <div *ngFor="let category of categories" class="dropdown mt-3">
                <strong class="fw-bold">{{category.category}}</strong>
                <ul >
                    <li *ngFor="let option of category.options">
                        <input [id]="option"  type="radio" class="form-check-input"/>
                        <label [for]="option" class="form-check-label"> {{option}} </label> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>